# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. Assign any number of type integer to the variable "num_1"

In [1]:
num_1 = 5

#### 2. Assign any number of type float to the variable "num_2"

In [2]:
num_2 = 11.3

#### 3. Create the variable "total" as the sum of variables "num_1" and "num_2"

In [3]:
total = num_1 + num_2

In [4]:
total

16.3

#### 4. Check the type of the variable "total"

In [5]:
type(total)

float

#### 5. Assign your height to the variable "height"

In [6]:
height = 165

#### 6. Assign your weight to the variable "mass"

In [7]:
mass = 79.3

#### 7. Create the variable "bmi" :
hint: bmi = weight / (height*height)

In [8]:
bmi = mass / (height*height)

#### 8. Print the value of the "bmi" variable

In [9]:
print(bmi)

0.0029127640036730944

# String

#### 1. Create the variable "name" with your first name

In [11]:
name = 'Maeghan'

#### 2. Create the variable "surname" with your surname

In [12]:
surname = 'Wright'

#### 3. Create the variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [13]:
name_surname = name + ' ' + surname

#### 4. Print the variable "name_surname"

In [14]:
print(name_surname)

Maeghan Wright

#### 5. Print the first letter of the variable "name_surname"

In [15]:
print(name_surname[0])

M

#### 6. Print your name (without any enmpty space) from the variable "name_surname"

In [16]:
print(name_surname[:7] + name_surname[8:])

MaeghanWright

#### 7. Print your surname 10x (use variable "surname")

In [17]:
print(surname * 10)

WrightWrightWrightWrightWrightWrightWrightWrightWrightWright

#### 8. Create the variable "greeting" with the message "Hello my name is " + your name and surname (use "name_surname" variable)

In [18]:
greeting = "Hello my name is " + name_surname

#### 9. Print the "message" variable

In [19]:
print(greeting)

Hello my name is Maeghan Wright

## List

#### 1. Create an empty list named "empty_list"

In [20]:
empty_list = []

#### 2. Create a list called "heights" with five random values

In [21]:
heights = [1,2,3,4,5]

#### 3. Print "heights"

In [22]:
print(heights)

[1, 2, 3, 4, 5]

#### 4. Print the type of variable for "heights"

In [23]:
type(heights)

list

#### 5. Print the second value from "heights"

In [24]:
heights[1]

2

#### 6. Assign the last three values from "heights" to another list called "heights_2"

In [25]:
heights_2 = heights[2:]

#### 7. Print "heights_2"

In [26]:
print(heights_2)

[3, 4, 5]

#### 8. Create the variable "list_all" with values from lists "heights" and "heights_2"

In [27]:
list_all = heights + heights_2

#### 9. Print "list_all"

In [28]:
print(list_all)

[1, 2, 3, 4, 5, 3, 4, 5]

#### 10. Print the type of "list_all"

In [29]:
type(list_all)

list

## Tuple

#### 1. Create an empty tuple called "empty_tuple"

In [30]:
empty_tuple = ()

#### 2. Try to assign your name to the first position of "empty_tuple" and check the type of error that occurs

In [31]:
empty_tuple[0] = 'Maeghan'

TypeError: 'tuple' object does not support item assignment

#### 3. Based on the error that occured in the above question, what is the main difference between a list and a tuple?

In [32]:
#Lists are mutable, tuples are immutable

## Dictionary

#### 1. Create an empty dictionary named "empty_dict"

In [33]:
empty_dict = {}

#### 2. Create a dictionary called "heights_dict" with your name as a key and height as a value

In [34]:
heights_dict = {'Maeghan': 165}

#### 3. Assign another name and height to "heights_dict"

In [35]:
heights_dict['Bob'] = 189

#### 4. Print "heights_dict"

In [36]:
print(heights_dict)

{'Maeghan': 165, 'Bob': 189}

#### 5. Print your height from the "heights_dict" dictionary

In [37]:
heights_dict['Maeghan']

165

#### 6. Print all values from the "heights_dict" dictionary

In [38]:
heights_dict.values()

dict_values([165, 189])

#### 7. Print all keys from the "heights_dict" dictionary

In [39]:
heights_dict.keys()

dict_keys(['Maeghan', 'Bob'])